langchain
langchain-community
langchain-groq
langchain-google-genai
langchain-chroma
langchain-huggingface

llama-index
llama-parse

unstructured[all-docs]
chromadb
loguru
icecream
fastapi
uvicorn[standard]
tavily-python
